{% extends "home.html.twig" %}


{% block titulo %} AAAA   {% endblock %}
{% block topo %} {{ setor }}{% endblock %}

{% block conteudo %}    

{% if totalRamais == 0 %}
    <h2>Desculpe nenhum Ramal disponivel no momento!</h2>

{% else %}
<table id="lista_ramais" class="table table-striped">
    <thead>
        <tr>
            <th>NOME</th>
            <th>RAMAL</th>
            <th>SETOR</th>
{% if usuario_logado == true   %}
            <th>Administrativo</th>
        
{% endif%}
        </tr>
    </thead>
    <tbody>

<!--
    {% for r in ramais %}
        <tr>
            <td>{{ r.ramal_nome }}</td>
            <td>{{ r.numero }}</td>
            <td>{{ r.setor_nome }}</td>
        {% if admin is not empty %}
                <th>Administrativo</th>
        {% endif%}
        </tr>
    {% endfor %}

-->
    </tbody>
    <tfoot>
        <tr>
            <th>NOME</th>
            <th>RAMAL</th>
            <th>SETOR</th>
{% if usuario_logado == true   %}
            <th>Administrativo</th>
{% endif%}
        </tr>
    </tfoot>
</table>



{% endif %}


{% endblock %}



{% block js_extra %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
        {% if(usuario_logado)  %}
        var logged = parseInt('{{ usuario_logado }}') ?? null;
        {% endif %}

            var columns = [
                    {
                        data: 'ramal_nome'
                    },

                    {
                        data: 'ramal_numero'
                    },

                    {
                        data: 'setor_nome'
                    },

            ];
        
        {% if(usuario_logado)  %}
        if(logged){
            columns.push({
                data: null,
                class: 'no-click',
                render: function ( data, type, row, meta ){
                            return '<div class="d-flex mb-3"> \
                                    \
                                        <button> \
                                            <i class="fas fa-eraser"></i> \
                                        </button> \
                                    </div> \
                            ';
                        }
    
                    });
        }
        {% endif %}

        var dt = new DataTable('#lista_ramais',{
            processing: true,
            serverSide: true,
            searchable: true,
            paging: true,
            pageLength: 100,
            language: {
                url: '/assets/js/datatable-pt-br.json'
            },
   
            
            ajax: {
                url: '/dt/ramal/{{ id }}',
                type: "POST",
                deferRender: true
               
            },

            columns: columns

        });
    });


</script>

{% endblock %}

