{% extends "home.html.twig" %}


{% block titulo %} AAAA   {% endblock %}
{% block topo %} {{ setor }}{% endblock %}

{% block conteudo %}    

{% if totalRamais == 0 %}
    <h2>Desculpe nenhum Ramal disponivel no momento!</h2>

{% else %}


<div class="" id="status">

</div>

<table id="lista_ramais" class="table table-striped">
    <thead>
        <tr>
            <th>RAMAL</th>
            <th>RESPONSÁVEL</th>

{% if usuario_logado == true   %}
            <th>Administrativo</th>
        
{% endif%}
        </tr>
    </thead>
    <tbody>
        {% for ramal in ramais %}
        <tr>
            <td>{{ ramal.numero }}</td>
            <td>{{ ramal.responsavel }}</td>

{% if usuario_logado == true   %}
            <td>
                <div class="d-flex gap-3">
                    <button hx-post="/setor" hx-target="#status" hx-swap="innerHTML" class="btn btn-danger"><i class="fas fa-eraser"></i></button>
                    <button hx-post="/setor" hx-target="#status" hx-swap="innerHTML" class="btn btn-primary"><i class="fas fa-edit"></i></button>


                </div>
            </td>
{% endif%}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>RAMAL</th>
            <th>RESPONSÁVEL</th>

{% if usuario_logado == true   %}
            <th>Administrativo</th>
        
{% endif%}
        </tr>
    </tfoot>
</table>

{% endif %}
{% endblock %}



{% block js_extra %}


<script>
    document.addEventListener('DOMContentLoaded', function(){
        var dt = new DataTable('#lista_ramais',{
                processing: false,
                serverSide: false,
                searchable: true,
                paging: true,
                pageLength: 100,
                language: {
                    url: '/assets/js/datatable-pt-br.json'
                },
        });
    });
/*
    document.addEventListener('DOMContentLoaded', function() {
        
        {% if(usuario_logado)  %}
        var logged = parseInt('{{ usuario_logado }}') ?? null;
        {% endif %}

            var columns = [
                    {
                        data: 'ramal_nome'
                    },

                    {
                        data: 'ramal_numero'
                    },

                    {
                        data: 'setor_nome'
                    },

            ];
        
        {% if(usuario_logado)  %}
        if(logged){
            columns.push({
                data: null,
                class: 'no-click',
                render: function ( data, type, row, meta ){
                            return '<div class="d-flex mb-3"> \
                                    \
                                        <button class="btn btn-danger"> \
                                            <i class="fas fa-eraser"></i> \
                                        </button> \
                                    </div> \
                            ';
                        }
    
                    });
        }
        {% endif %}

        var dt = new DataTable('#lista_ramais',{
            processing: true,
            serverSide: true,
            searchable: true,
            paging: true,
            pageLength: 100,
            language: {
                url: '/assets/js/datatable-pt-br.json'
            },
   
            
            ajax: {
                url: '/dt/ramal/{{ id }}',
                type: "POST",
                deferRender: true
               
            },

            columns: columns

        });
    });
*/
</script>

{% endblock %}

