{% extends "home.html.twig" %}


{% block titulo %} AAAA   {% endblock %}
{% block topo %} {{ setor }}{% endblock %}

{% block conteudo %}    

{% if totalRamais == 0 %}
    <h2>Desculpe nenhum Ramal disponivel no momento!</h2>

{% else %}


<div class="" id="status">

</div>

<table id="lista_ramais" class="table table-striped">
    <thead>
        <tr>
            <th>RAMAL</th>
            <th>RESPONSÁVEL</th>
{% if usuario_logado == true   %}
            <th>ATIVO</th>
{% endif  %}

{% if usuario_logado == true   %}
            <th>Administrativo</th>
{% endif%}

        </tr>
    </thead>
    <tbody>
        {% for ramal in ramais %}
        <tr>
            <td>{{ ramal.numero }}</td>
            <td>{{ ramal.responsavel }}</td>
{% if usuario_logado == true   %}
            <td>
                {% if(ramal.deletado_em is null) %}
                    <span class="badge text-bg-success">Ativo</span>
                {% else %}
                    <span class="badge text-bg-danger">Desativado</span>
                {% endif %}

            </td>
{% endif %}

{% if usuario_logado == true   %}
            <td>
                <div class="d-flex gap-3">
                    {% if(ramal.deletado_em is null) %}
                        <button hx-post="/admin/setor/acoes/deletar/{{ ramal.idalocacao }}/{{ setor.idsetor }}" hx-target="#status" hx-swap="innerHTML" class="btn btn-warning"><i class="fas fa-eraser"></i></button>
                    {% else %}
                        <button hx-post="/admin/setor/acoes/restaurar/{{ ramal.idalocacao }}/{{ setor.idsetor }}" hx-target="#status" hx-swap="innerHTML" class="btn btn-success"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                    {% endif %}
                    
                    
                    <button data-setor-id="{{ setor.idsetor }}" data-id="{{ ramal.idalocacao }}" data-bs-toggle="modal" data-bs-target="#editarModal" class="btn btn-secondary"><i class="fa-solid fa-pen"></i></button>
                    <button hx-post="/admin/setor/acoes/deletar_permanente/{{ ramal.idalocacao }}/{{ setor.idsetor }}" hx-target="#status" hx-swap="innerHTML" hx-confirm="Este comando faz a remoção permanente e irreversivel. Considere desativar use o botao ao lado. Use apenas em Ultimo Caso. Tem Certeza que quer fazer isso?" hx-post="/setor" hx-target="#status" hx-swap="innerHTML" class="btn btn-danger"><i class="fa-solid fa-x"></i></button>

                </div>
            </td>
{% endif%}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>RAMAL</th>
            <th>RESPONSÁVEL</th>
{% if usuario_logado == true   %}
            <th>ATIVO</th>
{% endif  %}

{% if usuario_logado == true   %}
            <th>Administrativo</th>
        
{% endif%}
        </tr>
    </tfoot>
</table>


<div class="modal fade" id="editarModal" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

                <form method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                        <div class="col">
                            <label class="label-control" for="setor">Lista de Setores</label>
                            <select class="form-select" name="setor" id="setor">
                                <option value=""></option>
                            </select>
                        </div>
      
                    </div>
                </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock %}



{% block js_extra %}


<script>
    document.addEventListener('DOMContentLoaded', function(){
{% if usuario_logado == true   %}
        var edit_modal = document.getElementById('editarModal');
        if(edit_modal){
            edit_modal.addEventListener('shown.bs.modal', function(event){
                const bt = event.relatedTarget;
                const setor_id = bt.getAttribute('data-setor-id');
                const id = bt.getAttribute('data-id');

                $.post('/admin/listar/setor', function(e){
                   console.log(e);
                });


            });
        }
{% endif %}

        var dt = new DataTable('#lista_ramais',{
                processing: false,
                serverSide: false,
                searchable: true,
                paging: true,
                pageLength: 100,
                language: {
                    url: '/assets/js/datatable-pt-br.json'
                },
        });
    });
</script>

{% endblock %}

